In [2]:
import sqlite3
connect = sqlite3.connect("Info.db")
cursor = connect.cursor()

In [14]:
cursor.execute("Create Table PlayerInfo (PlayerName varchar(255), HP int, MaxHP int, ATK int, DEF int, SPD int, EXP int, LVL int, Seed int, JobID int, Primary Key (PlayerName))")

In [18]:
cursor.execute("Insert into PlayerInfo VALUEs('Ian', 2, 3, 3, 3, 3, 3, 1, 64165706414, 1)")

In [31]:
cursor.execute("Create Table Jobs (JobID int, JobName varchar(255), Primary Key (JobID))")

In [32]:
cursor.execute("Insert into Jobs VALUEs(1, 'Warrior')")
cursor.execute("Insert into Jobs VALUEs(2, 'Mage')")
cursor.execute("Insert into Jobs VALUEs(3, 'Thief')")

In [36]:
cursor.execute("update Jobs set MaxHP = 3, ATK = 2, DEF = 3, SPD = 1 WHERE JobID = 1")
cursor.execute("update Jobs set MaxHP = 2, ATK = 4, DEF = 1, SPD = 2 WHERE JobID = 2")
cursor.execute("update Jobs set MaxHP = 1, ATK = 3, DEF = 2, SPD = 3 WHERE JobID = 3")

In [44]:
cursor.execute("Alter table PlayerInfo add Deaths int")

In [50]:
cursor.execute("Drop table MonsterRoomInfo")
cursor.execute("Create table MonsterRoomInfo (MonsterRoomID int, MonsterAmount int, Difficulty int, Primary Key (MonsterRoomID))")

In [51]:
cursor.execute("Insert into MonsterRoomInfo VALUEs(1,1,3)")
cursor.execute("Insert into MonsterRoomInfo VALUEs(2,2,2)")
cursor.execute("Insert into MonsterRoomInfo VALUEs(3,3,1)")
cursor.execute("Insert into MonsterRoomInfo VALUEs(4,1,6)")

In [56]:
cursor.execute("Update PlayerInfo Set EXP = 0 where PlayerName = 'Ian'")

In [57]:
connect.commit()