In [1]:
import sqlite3
connect = sqlite3.connect("Info.db")
cursor = connect.cursor()

In [44]:
cursor.execute("Create Table PlayerInfo (PlayerName varchar(255), HP int, MaxHP int, ATK int, DEF int, SPD int, EXP int, LVL int, Seed int, JobID int, Primary Key (PlayerName))")
cursor.execute("Alter table PlayerInfo add Deaths int")

OperationalError: table PlayerInfo already exists

In [31]:
cursor.execute("Create Table Jobs (JobID int, JobName varchar(255), Primary Key (JobID))")

In [50]:
cursor.execute("Drop table MonsterRoomInfo")
cursor.execute("Create table MonsterRoomInfo (MonsterRoomID int, MonsterAmount int, Difficulty int, Primary Key (MonsterRoomID))")

In [5]:
cursor.execute("Drop table ArmorType")
cursor.execute("Create table ArmorType (ArmorTypeID int, Name varchar(255), Primary Key(ArmorID))")

In [12]:
cursor.execute("Create table Armor(ArmorID int, ArmorTypeID int, Name varchar(255), HP int, DEF int, SPD int, Primary Key(ArmorID))")

In [16]:
cursor.execute("Drop table PlayerArmor")
cursor.execute("Create table PlayerArmor (PlayerName varchar(255), ArmorID int, Primary Key (PlayerName, ArmorID), Foreign Key (PlayerName) References PlayerInfo(PlayerName), Foreign Key (ArmorID) References Armor(ArmorID))")

In [20]:
cursor.execute("Create table Weapon(WeaponID int, Name varchar(255), ATK int, Primary Key(WeaponID))")

In [19]:
cursor.execute("Create table PlayerWeapon (PlayerName varchar(255), WeaponID int, Primary Key (PlayerName), Foreign Key (PlayerName) References PlayerInfo(PlayerName), Foreign Key (WeaponID) References Weapon(WeaponID))")

In [68]:
cursor.execute(f"Select Count(PlayerName) From PlayerWeapon Where PlayerName = 'Ian'").fetchone()[0]

1

In [39]:
cursor.execute("Insert into Armor VALUEs(1,1,'BasicHelm1',0,1,0)")
cursor.execute("Insert into Armor VALUEs(2,1,'BasicHelm2',0,1,0)")
cursor.execute("Insert into Armor VALUEs(3,1,'BasicHelm3',0,1,0)")

In [47]:
cursor.execute("Insert into Armor VALUEs(4,2,'BasicChest1',0,1,0)")
cursor.execute("Insert into Armor VALUEs(5,2,'BasicChest2',0,1,0)")
cursor.execute("Insert into Armor VALUEs(6,2,'BasicChest3',0,1,0)")

In [49]:
cursor.execute("Insert into PlayerArmor Values('Ian',1)")
cursor.execute("Insert into PlayerArmor Values('Ian',4)")

In [9]:
cursor.execute("Select * From ((PlayerArmor Inner Join Armor ON PlayerArmor.ArmorID = Armor.ArmorID) Inner Join ArmorType ON Armor.ArmorTypeID = ArmorType.ArmorTypeID) Where PlayerArmor.PlayerName = 'Ian'").fetchone()

('Ian', 1, 1, 1, 'BasicHelm', 0, 1, 0, 1, 'Helmet')

In [61]:
cNames = list(map(lambda x: x[0],cursor.description))
print(cNames)

['PlayerName', 'ArmorID', 'ArmorID', 'ArmorTypeID', 'Name', 'HP', 'DEF', 'SPD', 'ArmorTypeID', 'Name']

In [3]:
cursor.execute("Drop table Weapon")

In [50]:
connect.commit()